[submodule ".workflow_core"]
	path = .workflow_core
	url = https://github.com/mpbarbosa/ai_workflow_core.git
	pushurl = git@github.com:mpbarbosa/ai_workflow_core.git
[submodule ".workflow_fspec"]
	path = .workflow_fspec
	url = https://github.com/mpbarbosa/ai_workflow_fspec.git
	pushurl = git@github.com:mpbarbosa/ai_workflow_fspec.git
